.bodyclass{
    background-color: #151515;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

h3{
  color: #FFB400;
  text-align: center;
}

body {
  background-color: #f8f8f8;
  padding: 20px;
  font-family: 'Inter', sans-serif;
}

.burger-nav {
  background-color: #151515;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 40px;
  border-radius: 40px 40px 0 0; 
  width: 100%;
  position: relative;
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-item {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  position: relative;

}

.nav-item01{
    position:absolute;
    left: 10px;

}

/* Specific yellow for Promotions */
.nav-item.highlight {
  color: #FFB400;
  text-transform: uppercase;
}

/* Active underline for Menu */
.nav-item.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 3px;
  background-color: #FFB400;
}

@media (max-width: 600px) {

      /* CSS for screens below or equal to 600px wide */
      .burger-nav {
        height: 200px;
        width: 200px;
      }
    }